h1 {
    color: red;
}

h2 {
    background-color: aqua;
    font-size: 30px;
    font-weight: bold;
}

#arrange {
    height: 500px;
    background-color: #d9d9d9;
    display: flex;
    gap: 10px;
    padding: 20px;
    margin: 0px 40px;
    justify-content: center;
    align-items: center;
}

#title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 700;
    margin: 30px;

    background-color: beige;
    /* border-style: solid;
    border-color: yellow;
    border-width: 5px; */

    border: 5px solid yellow;
    /* border-radius: 30px; */
    border-bottom-right-radius: 25px;
    box-shadow: 4px 4px 10px 10px #d9d9d9;
}

#d1, #d2, #d3 {
    position: absolute;
}

#d1 {
    left: 500px;
    top: 200px;
    z-index: 9999;
    opacity: 0.5;
}

#d2 {
    left: 530px;
    top: 230px;
    z-index: 9998;
}

#d3 {
    left: 560px;
    top: 260px;
    z-index: 9997;
}

#maxBox {
    width: calc(100% - 300px);
    /* min-width: 200px;
    max-width: 250px; */
}

#textBox {
    background-color: aqua;
    width: 100px;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}